# Lists in Python

## Creating a List

In [3]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [4]:
my_list2 = ["string",1,2,"Hello",4,5,"Yash","#"]
print(my_list2)

['string', 1, 2, 'Hello', 4, 5, 'Yash', '#']

## len() Function applied on a List

In [6]:
len(my_list)

3

In [7]:
len(my_list2)

8

## Indexing Operation done on a List

In [9]:
my_list[1]

2

In [10]:
my_list2[0]

'string'

## Slicing Operation done on a List

In [12]:
my_list[0:2]

[1, 2]

In [13]:
my_list2[::-1]

['#', 'Yash', 5, 4, 'Hello', 2, 1, 'string']

## Concatenation Operation done on a list

In [15]:
print(my_list)

my_list3 = [4,5,6,7]
print(my_list3)

[1, 2, 3]
[4, 5, 6, 7]

In [16]:
my_list4 = my_list + my_list3
print(my_list4)

[1, 2, 3, 4, 5, 6, 7]

## Multipliability Operation performed on a List

In [18]:
print(my_list3)
my_list5 = my_list3 * 2
print(my_list5)

[4, 5, 6, 7]
[4, 5, 6, 7, 4, 5, 6, 7]

## Lists are Mutable

In [20]:
my_list6 = [1,2,3,4,5,6,7]

my_list6[2] = 8
print(my_list6)

[1, 2, 8, 4, 5, 6, 7]

## .append() Method on Lists

In [22]:
my_list7 = [1,2,3,4,5,6]

my_list7.append(9)
print(my_list7)

[1, 2, 3, 4, 5, 6, 9]

## .pop() Method on Lists

In [24]:
my_list4.pop() 
#index number of the element to be popped out is written inside the pop bracket 
#and if nothing is written inside the bracket then the last element which was inserted will be popped out by default.

7

In [25]:
my_popped_list = my_list4.pop(3) 
print(my_popped_list)
#inside this popped list only the element that was popped will be present and not the entire list is present.

4

In [26]:
print(my_list4)

[1, 2, 3, 5, 6]

## .sort() Method on Lists

In [28]:
my_num_list = [12,3,7,19,-1]
my_alpha_list = ['a','o','e','z']
my_jingle = [12,2,'z','a'] #this type of list containing numbers and alphabets cannot be sorted.

In [29]:
#.sort() cannot be directly inserted inside the print statement.

my_num_list.sort()
print(my_num_list)

my_alpha_list.sort() 
print(my_alpha_list)

[-1, 3, 7, 12, 19]
['a', 'e', 'o', 'z']

In [30]:
my_jingle.sort() # .sort() method cannot be applied on the list which contains both alphabets and numbers. This gives an error
print(my_jingle)

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
my_num2_list = [1,9,2,8]
my_sorted_num2_list = my_num2_list.sort()
print(my_sorted_num2_list) # This will give an output as none as the output as the .sort() does not make any change directly in the variable.

None

In [34]:
# Now if you want to use the .sort() method and you want to assign a sorted list to another variable then you have to use the following way.

my_num2_list = [1,9,2,8]
my_num2_list.sort()
my_sorted_num2_list = my_num2_list
print(my_sorted_num2_list)

[1, 2, 8, 9]

## The .reverse() Method on Lists

In [37]:
my_sorted_num2_list.reverse()
print(my_sorted_num2_list)

[9, 8, 2, 1]

In [39]:
my_sorted_num2_list[::-1]
#another trick to reverse the elements in the list.

[1, 2, 8, 9]

## Lists allow duplicate values

In [42]:
my_list = [1,2,3,4,4]
print(my_list) #lists allow duplicate values.

[1, 2, 3, 4, 4]

## Lists can also hold the Boolean Datatypes

In [45]:
list_4 = [True, True, True, False, False, False]
print(list_4)

[True, True, True, False, False, False]

## List Constructor

In [48]:
#We can use the list constructor to convert any scenario of strings as list.
list_test = list(("Yash is coding"))
list_test_2 = list(("Yash", "Suhas", "Shukla"))

print(list_test)
print(list_test_2)

['Y', 'a', 's', 'h', ' ', 'i', 's', ' ', 'c', 'o', 'd', 'i', 'n', 'g']
['Yash', 'Suhas', 'Shukla']

## type() function on List

In [51]:
# Using the type function we can also get the datatype of the list. It will return the value as list
print(type(list_4))

<class 'list'>

## len() function on List

In [54]:
len(list_4) #list function can also be used on list.

6