# Sets in Python

## Creating a Set

In [3]:
my_set1 = set()
print(my_set1)        #This is a null set.

set()

In [4]:
my_set2 = set('a')
print(my_set2)

{'a'}

## The .add() Method on Set

In [6]:
my_set2.add(1)
print(my_set2)

{1, 'a'}

## The .remove() Method on Set

In [8]:
my_set2.remove(1)
print(my_set2)

{'a'}

## The set() Constructor

### The set() Constructor on a List

In [11]:
my_list = ['a','a','a',1,1,2,3,4,3,2,3,2]
my_list = set(my_list)
print(my_list)

{1, 2, 3, 4, 'a'}

### The set() Constructor on a Tuple

In [13]:
my_tuple = (1,2,3,1,8,2,'a',8,3)
my_tuple = set(my_tuple)
print(my_tuple)

{1, 2, 3, 8, 'a'}

### The set() Constructor on a Dictionary

In [15]:
my_dict = {'a':1, 'b':2, 'c':3}

# By Default set() Operator will act in this way over a dictionary.
my_set = set(my_dict)
print(my_set)

# To print only the Values of the dictionary.
my_set = set(my_dict.values())
print(my_set)

# To print the items of the dictionary into a set.
my_set = set(my_dict.items())
print(my_set)

{'c', 'a', 'b'}
{1, 2, 3}
{('c', 3), ('a', 1), ('b', 2)}

## The Set cannot be the part of the Set

In [17]:
set2 = {"Hello", {"World"}}

TypeError: unhashable type: 'set'

## We cannot start a Set by just Adding an Integer

In [20]:
my_set4 = set(2)      #This is the error caused as I am starting to add an integer at start in the set.

TypeError: 'int' object is not iterable

## Lists can not be a part of the Set

In [23]:
my_set_2 = {"Hello", [1,2,3,4]}
print(my_set_2)

TypeError: unhashable type: 'list'